ng-sidebar-container{

    height: 100vh;
}

::ng-deep .ng-sidebar{
    background-color: #f4f4f4;
    width: 290px;
    padding: 2em 3em;
    box-shadow: 0 0 2.5em rgba(85,85,85,0.5);
    
}
.hamburguer{
  height: 60px;
  margin: 20px;
  z-index: 1;
  position:absolute;
  border: thin;
  background: transparent;
  width: 75px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/Hamburguer.png");
  
}

.header {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 100px;
}
.grid {
  display: grid;
  height: 100%;
  overflow: hidden;
  grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
  grid-template-rows: [y0] 3fr [y1] 1fr [y2] 1fr [y3];
}

.comment{
  grid-column: x0 / x1;
  grid-row: y0 / y1;
}

.rating{
  grid-column: x2 / x3;
  grid-row: y0 / y1;
}
.commenttext{
  grid-column: x0 / x1;
  grid-row: y1 / y2;
}
button.support{
  grid-column: x1 / x2;
  grid-row: y2 / y3;
  margin-top: 30px;
  background-color: white;
  border: black;
  border-radius: 2%;
  width: 120px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
