<figure class="image is-480x480" >
    <img [src]=imgHeader height="100px" class="header">
  </figure>

  <div class="grid">
   <div class="options">
    <img [src]=imgPay height="100px" class="header">
   </div>

   <div class="fieldname">
    <input class="input is-rounded" type="text" placeholder="Nombre completo">
  </div>

  <div class="fieldnumber">
    <input class="input is-rounded" type="text" placeholder="Número de la tarjeta">
  </div>

  <div class="fieldexpiration">
    <input class="input is-rounded" type="text" placeholder="Caducidad">
  </div>

  <div class="fieldsegcode">
    <input class="input is-rounded" type="text" placeholder="Código de seguridad">
  </div>

  <div class="fieldcode">
    <input class="input is-rounded" type="text" placeholder="Código postal">
  </div>

  <div class="fieldcountry">
    <input class="input is-rounded" type="text" placeholder="País">
  </div>

  <div class="ready">
    <button>Listo</button>
  </div>

  <div class="cancel">
    <button>Cancelar</button>
  </div>
  </div>