<div class="grid">
<div class="side">
    <img [src]=imgSide class="imageside">
</div>

<div class="center">
    <img [src]=imgIcon class="icon">
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
      <input class="input is-rounded" type="text" name="name" placeholder="Nombre completo" ngModel>
      
      <input class="input is-rounded" type="text" name="email"placeholder="Correo electrónico" ngModel>
     
      <input class="input is-rounded" type="password" name="password"placeholder="Contraseña" ngModel>
   
      <input class="input is-rounded" type="text" name="country" placeholder="País"ngModel>
     
      <input class="input is-rounded" type="text" name="city" placeholder="Ciudad" ngModel>
      
      <input class="input is-rounded" type="text" name="phone" placeholder="Número de teléfono" ngModel>
      
    
  
 
    <button class="register" type="sumbit">Registrarse</button>
  </form>
  
</div>
</div>