
<ng-sidebar-container>
    <!--Sidebar-->
      <ng-sidebar [opened]="opened">
        <app-sidebar></app-sidebar>
      </ng-sidebar>
    
      <div ng-sidebar-content>
        <button (click)="toggleSidebar()" class="hamburguer" ></button>
        <figure class="image is-480x480" >
          <img [src]=imgHeader height="100px" class="header">
        </figure>
  <div style="margin-left: 50px; margin-right: 50px;">
  <div class="table-container">
      <table class="table is-fullwidth">
        <thead>
          
        </thead>
        <tbody>
          <tr>
            <th><a>Usuario 1 requiere tu servicio de Fontanería para la ciudad de Bogotá Dirección #### para el día 30/11/2020</a></th>
            
          </tr>
          <tr>
            <th><a>Usuario 1 requiere tu servicio de Fontanería para la ciudad de Bogotá Dirección #### para el día 30/11/2020</a></th>
           
          </tr>
        </tbody>
      </table> 
  </div>
</div> 

   </div>
   
  </ng-sidebar-container>
        
