<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<figure class="image is-480x480" >
    <img [src]=imgIcon height="200px" class="responsive">
  </figure>

  <figure class="image is-480x480" >
    <img [src]=imgSeparator height="200px">
  </figure>
  <br>
  <p>
    A la Orden es una alternativa digital para que personas que prestan servicios informales, puedan ofrecerlos a personas que lo requieran, por medio de una aplicación web simple, segura y confiable en la cual se publiquen las áreas de trabajo disponibles y propuestas vigentes.
  </p>
<br>
  <p>
    <strong>Servicio informal:</strong> Cualquier servicio no perteneciente a la economía informal entre los cuales se encuentran: tutorías académicas, cuidado de personas y/o de mascotas, servicios de entrenamiento físico, cerrajería, ayuda doméstica y similares, en donde se paga únicamente por el servicio prestado en tanto no se requiera inversión inicial del cliente final o planeación/instalación previa.
  </p>
</body>
